xcuserdata/
DerivedData/
build/
*.xcuserstate
*.log
*.DS_Store
Feedly.xcodeproj/project.xcworkspace/xcuserdata/tahamuneeb.xcuserdatad/UserInterfaceState.xcuserstate
Feedly.xcodeproj/xcuserdata/tahamuneeb.xcuserdatad/xcschemes/xcschememanagement.plist
